---
import { formatDate } from "../../lib/helpers";

interface Props {
  title: string;
  date: Date;
  id: string;
}

const { title, date, id } = Astro.props;




---

<li
  class="list-none w-full text-black0 hover:text-white ease-in-out transition-colors my-2 bg-white rounded shadow-lg py-2 px-2 hover:bg-[#CDB3F8] hover:shadow-[0_0_10px_#CDB3F8]"
>
  <a
    class="text-sm md:text-base decoration-none flex justify-between items-center"
    href={`/blog/${id}`}
  >
    <p class="inline-block whitespace-wrap">
      {title}
    </p>
    <div class="flex items-center space-x-2">
      <time
        class="text-right tabular-nums"
        datetime={date.toISOString()}
        data-date={date.toISOString()}
      >
        {formatDate(date)}
      </time>
     
    </div>
  </a>
</li>
